body {
  color: $default-font-color;
  font-family: $default-sans-serif, 'Arial', sans-serif;
  font-size: $p-font-size;
}
h1 {
  font-size: $h1-font-size;
  letter-spacing: .1rem;
}
h2 {
  font-size: $h2-font-size;
  letter-spacing: .1rem;
}
h3 {
  font-size: $h3-font-size;
  letter-spacing: .1rem;
}
h4 {
  font-size: $h4-font-size;
  letter-spacing: .1rem;
}
h5 {
  font-size: $h5-font-size;
  letter-spacing: .1rem;
}
h6 {
  font-size: $h6-font-size;
  letter-spacing: .1rem;
}
p {
  font-family: $default-serif;
  font-size: $p-font-size;
  margin: 0;
  line-height: 1.8rem;
  font-weight: 400;
  color: $default-font-color;
}
.subtext {
  color: $default-grey-light;
}
.link-like {
  color: $default-link-color;
}

.resume {
  .skills {
    @extend p;
  }
  h5 {
    margin-bottom: 0;
  }
}
