// Place all the styles related to the Career controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
iframe {
  border: none;
  display: block;
  height: 2025px;
  margin: 0 auto;
  width: 832px;
}
