.container-content
  .row
    .one
      %h1 Privacy Policy
      %section
        %p
          You shouldn't need to request that any data be removed, as all that is
          stored is a session cookie, hell, I don't even have user accounts
          right now, but if for any reason you feel the need to escalate, I
          promise I will do everything in my power to remove your personal
          information from this site.
        %p
          You can reach me at
          = mail_to(mail_address, mail_address, subject: 'Privacy Concern on patschreiber.com')
