.container-content
  .row
    .one
      .personal-blurb
        .profile-img
        %p
          Lives in Chicago. Lives for the web.<br> I enjoy building elegant solutions to complex problems, predominantly using http.
  .row
    .one
      .showcase
        .item.item-colorized-0
          %a{:href => projects_path}
            %span.text
              Open Source
        .item.item-colorized-1
          %a{:href => hobbies_music_path}
            %span.text
              Music
        .item.item-colorized-2
          %a{:href => "#{github_url}", :target => "_blank", :rel => :noopener}
            %span.text
              Github
        .item.item-colorized-0
          %a{:href => contact_index_path}
            %span.text
              Contact
        .item.item-colorized-1
          %a{:href => resume_path}
            %span.text
              CV
        .item.item-colorized-2
          %a{:href => '#'}
            %span.text
              API

  .row.blog-posts
    - @blog.each do |p|
      %h3{:id => "post-" + p.id.to_s}
        = p.title
      %p
        = raw(p.post)
      %p
        = p.initial_posting.strftime( "%B %d, %Y" )
