.container-content
  .row 
    - @blog.each do |p|
      %h3{:id => "post-" + p.id.to_s}
        = p.title
      %p
        #{ raw($redcarpet_markdown.render( p.post )) }
      %p
        = p.initial_posting.strftime( "%B %d, %Y" )


