- content_for :body_class, "resume"

.container-content
  .row
    .one
      %h1.page-title
        Résumé/CV

      %section
        %p
          Front and back-end web application development experience, and ability to thrive in an environment where I can enhance products I believe in while also growing as a web application developer.

      %section
        %h3
          SKILLS:
        %h5
          Core Knowledge:
        %p
          HTML, CSS, SCSS, Bower, Ruby on Rails 3.x to 5.x, jQuery, HAML, HTML Frameworks such as Bootstrap,  PHP and MVC PHP frameworks such as Symfony, CMS frameworks such as Drupal and Joomla, MySQL, PostgreSQL, Apache, Nginx, Ubuntu/Linux distros, git, familiarity with agile development, project management tools such as Pivotal Tracker or Asana, Proficiency in learning new software and frameworks quickly
        %h5
          Relevant Knowledge:
        %p
          server setup, browser nuances, user account management and security, some web server security, web app analytics using Google Analytics, web app monitoring (New Relic), Modernizr
        %h5
          Team-based skills:
        %p
          %ul{ :class => "skills" }
            %li Completing projects with hard deadlines
            %li Hardware troubleshooting
            %li Software troubleshooting
            %li End-user and internal technical support
            %li Proficiency in learning new software quickly
            %li Oral Communication skills
            %li Written Communication skills
            %li Ability to relay concepts into layman's terms

      .content-splitter

      %section
        %h3
          RELEVANT EXPERIENCE:
        %h4
          Sandstorm Design, Inc.
          %br
          %h6.subtext
            Sandstorm Design, Inc. is a digital agency specializing in UX, technology, analytics, strategy, and marketing.
        %h5
          Full-stack engineer
          %br
          November 2016 - Present
        %p
          Proven track record of creating web sites based on client specifications under strict deadlines, integrating third-party APIs into existing applications, and implementing single sign-on integrations. Some challenges completed during this time include: accurately translating client’s business needs into working software, completing a multi-month Ruby on Rails project for a client as a solo dev, implementing queue workers to successfully process API data daily. During my time at Sandstorm I’ve become one of the “go-to” developers for specialty projects (Ruby on Rails, Joomla).

        .content-splitter

        %h4
          Themis Bar Review
          %br
          %h6.subtext
            Themis Bar Review is a post-market startup specializing in online bar review for recent law school grads.
        %h5
          Full-Stack Engineer
          %br
          January 2014 - November 2016
        %p
          Responsibilities include increasing functionality in a web-based application using Ruby on Rails 3.2, PHP as a backend and HTML, CSS, SCSS, and jQuery to construct the front-end. Some challenges included the use of an unsupported, legacy PHP framework which needed to communicate with Rails, writing reusable javascript to pull data from the back end and add client-side  functionality, writing new features that play nice with legacy browser versions such as IE8, and finally migrating the legacy web application over to an established framework, such as Symfony2.
        %h5
          QA Analyst, Front-end developer, tech support
          %br
          March 2012 - December 2013
        %p
          Responsible for site content updates using HTML/CSS/javascript, fielding questions and managing customer expectations through various avenues such as Phone, Email, and through the in-app messaging system. Worked on small, front-end site enhancements during this time.

        .content-splitter

        %h4
          Acapella Media LLC/Discount Now LLC
          %br
          %h6.subtext
            Acapella Media’s digital studio is driven by strategy, obsessed by exploration, and passionate about building in the digital space. We create websites and apps that aren’t just well designed, but add value to start-ups and brands.
        %h5
           Front End Engineer and Rails Developer
           %br
           July 2014 - September 2014
        %p
          I was the US liaison between the India team and management located in the US. Responsibilities included creating features on a limited deadline, refactoring subpar code in Ruby and Javascript, creating new functionality based on the business needs of DiscountNow. Additionally, I worked with the team and management to discuss best practices for UX and user-engagement on the site.

        .content-splitter

        %h4
          Capstone game design project
          %br
          %h6.subtext
            The senior capstone project was "Warden of Raal," a puzzle game where the player had to strategically place traps to thwart intruders entering his domain. Technologies used included Unity framework, javascript/C# (Unity allows either), Maya, Photoshop, Illustrator
        %h5
          Student
          %br
          School year 2010 - 2011
        %p
          25 person team-based project in which the task was to complete a game in two semesters. Skills demonstrated included creating functionality in extensible modules, project management, time management, maintaining clarity in design documents as well as documenting actions taken during the project, using SVN as version control, creating a reasonable pipeline to submit and push code,  managing the different divisions of the project (art, design, programming, etc.) to come together in a cohesive way, asset creation, debugging code as necessary.

      .content-splitter

      %section
        %h3
          EDUCATION:
        %p
          B.A. Game Design
          %br
          Columbia College Chicago 2011

