* {
  box-sizing: border-box;
}
html {
  font-size: $base-font-size;
}
body {
  color: $default-font-color;
  font-family: $default-sans-serif, 'Arial', sans-serif;
  font-size: $p-font-size;
  max-width: $default-max-body-width;
}