@mixin border {
  border-style: $default-border-style;
  border-width: $default-border-width;
  border-radius: $default-border-radius;
  border-color: $default-grey-light;
}
@mixin box-shadow {
  box-shadow: 0 2px 10px $default-shadow-color,0 2px 4px $default-shadow-color;
  -moz-box-shadow: 0 2px 10px $default-shadow-color,0 2px 4px $default-shadow-color;
  -ms-box-shadow: 0 2px 10px $default-shadow-color,0 2px 4px $default-shadow-color;
  -o-box-shadow: 0 2px 10px $default-shadow-color,0 2px 4px $default-shadow-color;
  -webkit-box-shadow: 0 2px 10px $default-shadow-color,0 2px 4px $default-shadow-color;
}
@mixin box-shadow-inset {
  box-shadow: inset 0 0 0 2px $default-grey-light;
  -moz-box-shadow: inset 0 0 0 2px $default-grey-light;
  -ms-box-shadow: inset 0 0 0 2px $default-grey-light;
  -o-box-shadow: inset 0 0 0 2px $default-grey-light;
  -webkit-box-shadow: inset 0 0 0 2px $default-grey-light;
}

@mixin link-flair($color: $default-font-color) {
  -moz-transition-duration: .24s;
  -ms-transition-duration: .24s;
  -o-transition-duration: .24s;
  -webkit-transition-duration: .24s;
  transition-duration: .24s;
  -moz-transition-property: transform opacity;
  -ms-transition-property: transform opacity;
  -o-transition-property: transform opacity;
  -webkit-transition-property: transform opacity;
  transition-property: transform opacity;
}