nav {
  font-weight: 700;
  a {
    @include link-flair();
    font-weight: 700;
    padding: .5rem 1rem;

    &:hover:after {
      width: 100%;
      opacity: 1;
    }
  }
  .logo {
    font-size: 1.5rem;
  }
}
nav.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: $screen-xs) {
  nav {
    a {
      padding: 1.5rem 1rem;
    }
  }
}
