.projects {
  display: flex;
  flex-wrap:wrap;
}
.project {
  flex: auto;
  min-width: 40%;
  margin: 0 ($default-margin / 2) $default-margin ($default-margin / 2);
  color: $default-font-color;
  @include box-shadow-transparent-inset;

  -moz-transition: box-shadow .175s ease-in-out;
  -ms-transition: box-shadow .175s ease-in-out;
  -o-transition: box-shadow .175s ease-in-out;
  -webkit-transition: box-shadow .175s ease-in-out;
  transition: box-shadow .175s ease-in-out;

  .dates {
    padding-top: $default-padding;
    padding-bottom: $default-padding;
    font-style: italic;
  }
  .read-more {
    color: $default-link-color;
    padding-top: $default-padding;
    font-weight: 600;
  }
  .title {
    margin: 0;
    color: $default-link-color;
  }
}
a.project:hover {
  @include box-shadow-inset-and-outset;
}
.project-info {
  @extend p;
}

a.project-colorized-0 {
  @include project-colorizer($project-color-0);
}
a.project-colorized-1 {
  @include project-colorizer($project-color-1);
}
a.project-colorized-2 {
  @include project-colorizer($project-color-2);
}
a.project-colorized-3 {
  @include project-colorizer($project-color-3);
}
a.project-colorized-4 {
  @include project-colorizer($project-color-4);
}
a.project-colorized-5 {
  @include project-colorizer($project-color-5);
}
a.project-colorized-6 {
  @include project-colorizer($project-color-6);
}
a.project-colorized-7 {
  @include project-colorizer($project-color-7);
}
a.project-colorized-8 {
  @include project-colorizer($project-color-8);
}

@media (min-width: $screen-sm) {
  a.project {
    flex: 1;
  }
}
