.showcase .item {
  //text-transform: uppercase;
  font-family: $default-sans-serif;
  font-size: 1.25rem;
  letter-spacing: .1rem;

  position: relative;
  float: left;
  margin-bottom: $default-margin;
  min-height: 1px;
  padding-left: $default-padding / 2;
  padding-right: $default-padding / 2;
  width: 100%;
}
.showcase .item .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showcase .item a {
  @include border($default-grey-light);
  display: block;
  height: 7rem;
  padding: $default-padding;
  text-decoration: none;
  -moz-transition: box-shadow .175s ease-in-out;
  -ms-transition: box-shadow .175s ease-in-out;
  -o-transition: box-shadow .175s ease-in-out;
  -webkit-transition: box-shadow .175s ease-in-out;
  transition: box-shadow .175s ease-in-out;
}
.showcase .item a {
  border: 1px solid;
  &:hover {
    @include box-shadow-inset;
  }
}
.showcase .item-colorized-0 a {
  border: 1px solid #1B7CBE;
  &:hover {
    @include box-shadow-inset(#1B7CBE);
  }
}
.showcase .item-colorized-1 a {
  border: 1px solid #2852BD;
  &:hover {
    @include box-shadow-inset(#2852BD);
  }
}
.showcase .item-colorized-2 a {
  border: 1px solid #4828BD;
  &:hover {
    @include box-shadow-inset(#4828BD);
  }
}

@media (min-width: $screen-sm) {
  .showcase .item {
    width: 33.333333%
  }
}
