.container-content
  .row
    .one
      %h1
        Music
      %p
        In my spare time I'm making music. I've previously never learned music theory, so the quality can vary widely. Check me out on soundcloud for my hobbyist music production:
        = link_to "#{soundcloud_url}", soundcloud_url, :target => "_blank", :rel => :noopener
