- content_for :body_class, "resume_root"

.content  
  .content-row
    .content-container
      %section
        %h5
          TECHNOLOGIES:
        %p
          %strong
            Front-end
          %br
          %ul{ :class => "skills" }
            %li &bullet; HTML 4.01 and 5
            %li &bullet; CSS
            %li &bullet; javascript/jQuery
            %li &bullet; CSS Preprocessors such as SASS
            %li &bullet; HTML Preprocessors such as HAML
            %li &bullet; HTML Frameworks such as Bootstrap
            %li &bullet; Modernizr
        %p
          %strong
            Back-end
          %br
          %ul{ :class => "skills" }
            %li &bullet; Ruby on Rails 3.x and 4
            %li &bullet; MySQL
            %li &bullet; Apache
            %li &bullet; Nginx
            %li &bullet; Ubuntu/Linux distros
            %li &bullet; Passenger
            %li &bullet; familiarity with PHP and MVC PHP frameworks such as CodeIgniter
        %p
          %strong
            Project Management tools
          %br
          %ul{ :class => "skills" }
            %li &bullet; Pivotal Tracker 
            %li &bullet; Asana
            %li &bullet; git
            %li &bullet; github
            %li &bullet; Vagrant
            %li &bullet; Web app analytics using Google Analytics

      %section
        %h5
          RELEVANT TECHNICAL KNOWLEDGE:
        %p
          %ul{ :class => "skills" }
            %li &bullet; Encryption
            %li &bullet; Server setup
            %li &bullet; Browser nuances
            %li &bullet; User account management and security
            %li &bullet; Familiar with web server security and concepts web app analytics using Google Analytics, 
            %li &bullet; web app monitoring (New Relic)
            %li &bullet; Familiarity with test-driven development (TDD)


      %section
        %h5
          TEAM-BASED SKILLS:
        %p
          %ul{ :class => "skills" }
            %li &bullet; Familiarity with agile development and scrum software development
            %li &bullet; Completing projects with hard deadlines
            %li &bullet; Hardware troubleshooting
            %li &bullet; Software troubleshooting
            %li &bullet; End-user and internal Technical Support
            %li &bullet; Proficiency in learning new software quickly
            %li &bullet; Oral Communication skills
            %li &bullet; Written Communication skills
            %li &bullet; Ability to relay concepts into layman's terms







