- content_for :body_class, "resume_root"

.content  
  .content-row
    .content-container
      %h3
        TECHNOLOGIES:

      %section
        %p
          %strong
            Front-end
        %p
          I really like front-end development. To me, it really brings an idea or product together, and shares the vision of the product to the users. Want a super-sleek site to exemplify your new super-sleek disruptive technology? Do you want an intuitive user experience where the user "just knows where to go?" The front-end development process does just that, and the end design glues all of the modules of the application together into a **<i>hopefully</i>** pleasing experience for the end-users.
        %p
          %ul{ :class => "skills" }
            %li &bullet; HTML 4.01 and 5
            %li &bullet; CSS
            %li &bullet; javascript/jQuery
            %li &bullet; CSS Preprocessors such as SASS
            %li &bullet; HTML Preprocessors such as HAML
            %li &bullet; HTML Frameworks such as Bootstrap
            %li &bullet; Modernizr
            %li &bullet; Photoshop
            %li &bullet; Illustrator

      %section
        %h5
          Back-end
        %p
          For almost all of my open source projects, I have developed the back-end system for data and application management. I have recently preferred Ruby on Rails to construct the backbone of the application because it allows the application to get off the ground quickly. The following Rails has generated is also helpful when troubleshooting as there is a wealth of information available.
        %p
          In addition to the application framework and language itself, I am also familiar with database and server administration. I am able to set up and use Apache or Nginx depending on server needs, as well as secure it reasonably well. This usually includes setting up the authorized_keys, fail2ban, and setting user permissions and groups correctly. 

        %p
          %ul{ :class => "skills" }
            %li &bullet; Ruby on Rails 3.x and 4
            %li &bullet; MySQL
            %li &bullet; Apache
            %li &bullet; Nginx
            %li &bullet; Ubuntu/Linux distros
            %li &bullet; Passenger
            %li &bullet; familiarity with PHP and MVC PHP frameworks such as CodeIgniter

      %section
        %h5
          Project Management tools
        %p
          %ul{ :class => "skills" }
            %li &bullet; Pivotal Tracker 
            %li &bullet; Asana
            %li &bullet; git
            %li &bullet; github
            %li &bullet; Vagrant
            %li &bullet; Web app analytics using Google Analytics

      %section
        %h5
          RELEVANT TECHNICAL KNOWLEDGE:
        %p
          %ul{ :class => "skills" }
            %li &bullet; Encryption
            %li &bullet; Server setup
            %li &bullet; Browser nuances
            %li &bullet; User account management and security
            %li &bullet; Familiar with web server security and concepts web app analytics using Google Analytics, 
            %li &bullet; web app monitoring (New Relic)
            %li &bullet; Familiarity with test-driven development (TDD)


      %section
        %h5
          TEAM-BASED SKILLS:
        %p
          %ul{ :class => "skills" }
            %li &bullet; Familiarity with agile development and scrum software development
            %li &bullet; Completing projects with hard deadlines
            %li &bullet; Hardware troubleshooting
            %li &bullet; Software troubleshooting
            %li &bullet; End-user and internal technical support
            %li &bullet; Proficiency in learning new software quickly
            %li &bullet; Oral Communication skills
            %li &bullet; Written Communication skills
            %li &bullet; Ability to relay concepts into layman's terms
      %h3
        EXPERIENCE:










