- content_for :body_class, "resume_root"

.content  
  .content-row
    .content-container
      %h3
        TECHNOLOGIES:

      %section
        %p
          %strong
            Front-end
        %p
          I really like front-end development. To me, it really brings an idea or product together, and shares the vision of the product to the users. Want a super-sleek site to exemplify your new super-sleek disruptive technology? Do you want an intuitive user experience where the user "just knows where to go?" The front-end development process does just that, and the end design glues all of the modules of the application together into a **<i>hopefully</i>** pleasing experience for the end-users.
        %p
          %ul{ :class => "skills" }
            %li HTML 4.01 and 5
            %li CSS
            %li javascript/jQuery
            %li CSS Preprocessors such as SASS
            %li HTML Preprocessors such as HAML
            %li HTML Frameworks such as Bootstrap
            %li Modernizr
            %li Photoshop
            %li Illustrator

      %section
        %h5
          Back-end
        %p
          For almost all of my open source projects, I have developed the back-end system for data and application management. I have recently preferred Ruby on Rails to construct the backbone of the application because it allows the application to get off the ground quickly. The following Rails has generated is also helpful when troubleshooting as there is a wealth of information available.
        %p
          In addition to the application framework and language itself, I am also familiar with database and server administration. I am able to set up and use Apache or Nginx depending on server needs, as well as secure it reasonably well. This usually includes setting up the authorized_keys, fail2ban, and setting user permissions and groups correctly. 

        %p
          %ul{ :class => "skills" }
            %li Ruby on Rails 3.x and 4
            %li MySQL
            %li Apache
            %li Nginx
            %li Ubuntu/Linux distros
            %li Passenger
            %li familiarity with PHP and MVC PHP frameworks such as CodeIgniter

      %section
        %h5
          Project Management tools
        %p
          %ul{ :class => "skills" }
            %li Pivotal Tracker 
            %li Asana
            %li git
            %li github
            %li Vagrant
            %li Web app analytics using Google Analytics

      %section
        %h5
          RELEVANT TECHNICAL KNOWLEDGE:
        %p
          %ul{ :class => "skills" }
            %li Encryption
            %li Server setup
            %li Browser nuances
            %li User account management and security
            %li Familiar with web server security and concepts web app analytics using Google Analytics, 
            %li web app monitoring (New Relic)
            %li Familiarity with test-driven development (TDD)


      %section
        %h5
          TEAM-BASED SKILLS:
        %p
          %ul{ :class => "skills" }
            %li Familiarity with agile development and scrum software development
            %li Completing projects with hard deadlines
            %li Hardware troubleshooting
            %li Software troubleshooting
            %li End-user and internal technical support
            %li Proficiency in learning new software quickly
            %li Oral Communication skills
            %li Written Communication skills
            %li Ability to relay concepts into layman's terms

      %section
        %h3
          EXPERIENCE:
        %p
          %b
            Themis Bar Review - March 2012 - Current
          %br
          Themis Bar Review is a post-market startup specializing in online bar review for recent law school grads. 
        %p
          Responsibilities include creating and updating functionality in a web-based application using Ruby on Rails 3.1, PHP, HTML, CSS, SCSS, and jQuery. This is a unique implementation of server-side backend technologies because the site is a PHP/RoR hybrid. The Rails side must communicate the authentication to the PHP side, and vice versa. I created front-end functionality, as well as back end functionality including authentication logic, recording data and user input to a MySQL database, front-end templating, and Rails logic to create dynamic pages.
        %p
          Other responsibilities at Themis included both internal and customer tech support, ordering new equipment, hiring, SQL query generation for executive reports, and SEO optimization.


        %p
          %b
            Capstone game design project - School year 2010 - 2011
          %br
          The senior capstone project was "Warden of Raal," a puzzle game where the player had to strategically place traps to thwart intruders entering his domain. Technologies used included Unity framework, javascript/C# (Unity allows either), Maya, Photoshop, Illustrator
        %p
          25 person team-based project in which the task was to complete a game in two semesters. Skills demonstrated included creating functionality in extensible modules, project management, time management, maintaining clarity in design documents as well as documenting actions taken during the project, using SVN as version control, creating a reasonable pipeline to submit and push code,  managing the different divisions of the project (art, design, programming, etc.) to come together in a cohesive way, asset creation, debugging code as necessary.

      %section
        %h3
          EDUCATION:
        %p
          B.A. Game Design,
          %br
          Columbia College Chicago 2011

