.nav-menu
  .text-center
    .h3like
      Pat Schreiber

    .about.text-center
      I like creating things and solving problems. I always enjoy discovering new things.
  .hr
  .content-row
    .h4like.text-center
      My Projects
  .hr
  .content-row
    .h4like.text-center
      Shameless Promotion
    %ul
      %li
        About
      %li
        Resume
      %li
        A brief history of Pat
  .hr