.nav-menu
  .text-center
    .h2like
      //Name Here
    .about.text-center
      I like creating things and solving problems. I always enjoy discovering new things.
  .hr
  .content-row
    .h4like.text-center
      My Projects
  .hr