.nav-menu
  .nav-menu-content
    .text-center
      .h3like
        Pat Schreiber

      .about.text-center
        I like creating things and solving problems. I always enjoy discovering new things.
    .hr
    .content-row
      .h4like.text-center
        = link_to "My Projects", projects_path, :class => "c2a"
    .hr
    .content-row
      .h4like.text-center
        Shameless Promotion
      %ul
        %li
          About
        %li
          Resume
        %li
          A brief history of Pat
    .hr